<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite  SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="saucedemo.V1">

<listeners>
<listener class-name="sauce.Utilities.Reporting"/>
</listeners>

		<test name= "E-commerce">			
			<parameter name="browser" value="chorme"/>
				<classes>
					<!-- class name="sauce.TestCases.LoginTC_DD_002" --> 
					<class name="sauce.TestCases.LoginTC_001"/>
				</classes>
	</test>
</suite>
